   /* Stroke effect */
   nav.stroke ul li a,
   nav.fill ul li a {
       position: relative;
       color: white !important; /* Set default text color to white */
       text-decoration: none;
   }

   nav.stroke ul li a:after,
   nav.fill ul li a:after {
       position: absolute;
       bottom: 0;
       left: 0;
       right: 0;
       margin: auto;
       width: 0%;
       content: '.';
       color: transparent;
       background: #FFD100; /* Underline stroke color */
       height: 1px;
   }

   nav.stroke ul li a:hover:after {
       width: 100%;
   }

   

   /* Optional: Ensuring the text stays yellow on active/focused links */
   .nav-link:active,
   .nav-link:focus {
       color: #FFD100 !important;
       text-decoration-color: #FFD100;
   }

/* Adam N Code */
 #skibidi {
  /* The image used */
  background-image: url("images/UCLA\ HOME.jpg");

  /* Set a specific height */
  min-height: 800px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin-left: -10px;
  margin-right: -10px;
}



  /* Adam N Code */
.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.section1 {
  background-color: rgb(202, 202, 202);
}