


/* Adam N Code */
 #skibidi {
  /* The image used */
  background-image: url("images/UCLA\ HOME.jpg");

  /* Set a specific height */
  min-height: 800px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin-left: -10px;
  margin-right: -10px;
}



  /* Adam N Code */
.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.section1 {
  background-color: rgb(202, 202, 202);
}