.nav-link {
  color: white; /* Default text color */
  transition: color 0.3s, text-decoration 0.3s; /* Smooth transition */
}

.nav-link:hover {
  color: #FFB81C; /* Change to a gold color on hover */
  text-decoration: underline; /* Underline effect on hover */
}


   /* Adam N Parallax Code */
   .parallax {
    background-image: url('images/UCLA\ HOME.jpg'); /* Add your image here */
    height: 65vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.parallax h1 {
    font-size: 3rem;
    margin: 0;
}

.parallax p {
    font-size: 1.5rem;
    margin: 0;
}

/* End of his code */

#text {
  border: 2px solid #2774AE; /* Border color */
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8); /* Light background for contrast */
  color: #333; /* Text color */
  font-family: 'Arial', sans-serif; /* Professional font */
}

/* Image Spacing */
.image-box {
  margin-bottom: 30px; /* Space between images */
}

.textfont {
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.fontheader {
  color: #005587;
}

.shorttext {
  color: #FFB81C;
}

#imgfix {
  transition: transform 0.3s, opacity 0.3s; /* Smooth transition */
}

#imgfix:hover {
  transform: scale(1.05); /* Slightly enlarge the image */
  opacity: 0.9; /* Change opacity on hover */
}

.parallaxh {
  color: #005587;
}

.video-container {
  max-width: 800px; /* Set a max width for the container */
  margin: 0 auto; /* Center the container */
}

.video {
  border: 5px solid #2774AE;
  border-radius: 5px;
  min-height: 300px;
  width: 100%; /* Fill the container */
}

iframe {
  height: 500px; /* Keep height as is */
  width: 100%; /* Ensure iframe fills the video class */
}
